name: CI

on:
  push:
    branches:
      - "master"
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      max-parallel: 2
      matrix:
        node: [ "13", "14", "15" ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Init platform
        shell: bash
        run: |
          git config --global core.autocrlf false
          git config --global core.symlinks true
          git config --global core.ignorecase false
          git config --global core.fileMode false
          git config --global help.autocorrect 1

          git config --global user.email 'github@github.com'
          git config --global user.name  'Renovate Bot'

          npm config set scripts-prepend-node-path true

          echo "Node $(node --version)"
          echo "Yarn $(yarn --version)"

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v4
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      # Clear caches on cache miss, otherwise they will grow indefinitely
      - name: Clear yarn cache
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn cache clean

      - name: Install
        run: yarn install

      - name: Jest
        run: yarn test:all

      - name: Check
        run: yarn check:all

      - name: coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: actions ${{ matrix.node }}
          file: ./coverage/coverage-final.json
          fail_ci_if_error: true
          verbose: true
